option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: to_do_list.wsgi:application
  aws:elasticbeanstalk:environment:proxy:staticfiles:
     /static: static/
     /images: images/
     /staticfiles: staticfiles/

    
    

container_commands:
  01_collectstatic:
    command: "source /var/app/venv/*/bin/activate && python manage.py collectstatic --noinput"
 