{% extends 'task_group/base.html' %}

{% block heading %}
{% if form.instance.pk %}
<h2 class="groups_heading">Update Task</h2>
{% else %}
<h2 class="groups_heading">Create new Task</h2>
{% endif %}
{% endblock %}

{% block content %}
{% load static %}
<form method="post" class="form-horizontal">
    <div class="form-group">
    {% csrf_token %}
    {% for field in form %}
        <label for="{{ field.id_for_label }}" class="col-sm-2 control-label">{{ field.label }}</label>
        <div class="col-sm-10">
            {{ field }}
        </div>
    {% endfor %}
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <input type="submit" value="Submit" class="btn btn-primary">
        </div>
    </div>
    </div>
</form>
{% endblock %}